* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: url(image/6\,900+\ Gym\ Pattern\ Illustrations\,\ Royalty-Free\ Vector\ Graphics\ &\ Clip\ Art.jpg);

}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: white;
}

#semana {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white 2px;
  margin: 1%;
  border-radius: 5%;
  background: black;
  opacity: 0.9;
  margin-top: 30px;
}
.dia {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400%;
  height: 400px;
  border-radius: 5%;
  margin: 30px;
  filter: blur(30%);
  background: white;
}
@media screen and (max-width: 820px) {
  #semana {
    display: block;
    border-radius: 5%;

  }
  .dia {
      margin: 10%;
      width: 80%;
      height: 130px;
  }
 
}

#diase{
  display: flex;
  position: absolute;
  left: 10px;
  top: 10px;
  font-style: italic;
}
.check{
  display: flex;
  position: absolute;
  right: 3%;
  bottom: 3%;
  gap: 5px;
}
img {
  position: absolute;
  width: 50px;
  top: 25px;
  right: 20px;
}
#serierep{
  position: absolute;
  left: 10px;
  top: 50px;
}
#exercicio{
  position: absolute;
  right: 10px;
  top: 10px;
  height: 80px;
  width: 70px;
}